.ratingContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 28px;
    max-width: 85%;
    margin: auto;
}

.inputPair {
    display: flex;
    width: 100%;
    gap: 16px;
    margin-bottom: 16px
}
.input {
    flex: 1
}
.breakWord {
    min-width: 0;
    overflow-wrap: break-word;
}