.ratingContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
    margin-bottom: 28px;
    max-width: 100%;
}

.inputPair {
    display: flex;
    width: 100%;
    gap: 16px;
    margin-bottom: 16px
}
.input {
    flex: 1
}
.breakWord {
    min-width: 0;
    overflow-wrap: break-word;
}