.page_container {
  height: 90vh;
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 18px;
}

.flex_container {


  flex: 1;
  background-color: black;
  border-radius: 18px;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid_layout {
    flex: 2;
    display: grid;
    grid-template-rows:  auto;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    row-gap: 12px;
    max-height: 720px;
    column-gap: 12px;
    padding-bottom: 18px;
  }
  .next_events {
    padding: 16px;
    width: 100%;
    height: 98.5%;
    grid-column: span 2
  }
  @media (max-width: 768px) {
    .grid_layout {
      display: flex;
      flex-direction: column;
      grid-template-rows: auto; 
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 645px) {
    .grid_layout {
      display: flex;
      flex-direction: column;
      grid-template-rows: auto; 
      grid-template-columns: 1fr;
    }
    .page_container {
      flex-direction: column;
      padding: 0;
    }
  }
